.boxshadow{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

body{
    height: 100%; 
}

.icone{
    height: 100px; 
    width: 100px;
}

#quote {
    background: url(quote.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
      background-attachment: fixed; 
}
.nome-autor{
    font-size: 20px;
}

.hover:hover{
    cursor: pointer; 
    text-decoration: underline;
    color: #f2f2f2;
}